
    
            #back-button,
            #forward-button,
            #reload-button
           
           {
                border: none;
                background: none;
                cursor: pointer;
                font-size: 20px;
                color: #0c0c0c;
                margin-left: 9px;
                margin-right: 8px;
            } 
           .body dark-mode #back-button,
           .body dark-mode #forward-button,
           .body dark-mode #reload-button
           
           {
            border: none;
            background: none;
            cursor: pointer;
            font-size: 20px;
            color: #fffbfb;
            margin-left: 1px;
            margin-right: 0px;
            margin: 2px;
            } 
            #search-button {
                border: none;
                font-weight: 300; /* Or experiment with 200 */
                background: none;
                cursor: pointer;
                font-size: 20px; /* Slightly smaller */
                background: none;
                color: rgb(57, 123, 184);
                margin: 5px; /* Space between buttons */
                padding: 0; /* Remove any default padding */
                line-height: 1; /* Adjust line-height for thinner appearance */
    
            }
            body.dark-mode #search-button {
                border: none;
           
                font-weight: 300; /* Or experiment with 200 */
                background: none;
                cursor: pointer;
                font-size: 20px; /* Slightly smaller */
                background: none;
                color: rgb(255, 255, 255);
                margin: 5px; /* Space between buttons */
                padding: 0; /* Remove any default padding */
                line-height: 1; /* Adjust line-height for thinner appearance */
    
            }
            
            
                
            #mic-button,
            #search-button,
            #star-button {
                position: fixed; /* Maintain relative positioning */
            }
    
            #search-engine {
                margin-left: 100%;
                margin-right: 0px; /* Space before search engine dropdown */
            }
            @media screen and (max-width: 75em) {
                #search-button{
                    margin-left: 9px;
                }


            }
        
      